//
//  Function to create an optimized svg url
//

@function svg-url($svg)
  //
  //  Add missing namespace
  //
  @if not str-index($svg, xmlns)
    $svg: str-replace($svg, "<svg", '<svg xmlns="http://www.w3.org/2000/svg"')

  //    
  //  Chunk up string in order to avoid 
  //  "stack level too deep" error
  //
  $encoded: ""
  $slice: 2000
  $index: 0
  $loops: ceil(str-length($svg) / $slice)

  @for $i from 1 through $loops
    $chunk: str-slice($svg, $index, $index + $slice - 1)

    //
    //   Encode 
    //
    $chunk: str-replace($chunk, '"', "'")
    $chunk: str-replace($chunk, "%", "%25")
    $chunk: str-replace($chunk, "&", "%26")
    $chunk: str-replace($chunk, "#", "%23")
    $chunk: str-replace($chunk, "{", "%7B")
    $chunk: str-replace($chunk, "}", "%7D")
    $chunk: str-replace($chunk, "<", "%3C")
    $chunk: str-replace($chunk, ">", "%3E")

    // 
    //    The maybe list 
    //
    //    Keep size and compile time down
    //    ... only add on documented fail 
    // 
    //  $chunk: str-replace($chunk, '|', '%7C');
    //  $chunk: str-replace($chunk, '[', '%5B');
    //  $chunk: str-replace($chunk, ']', '%5D');
    //  $chunk: str-replace($chunk, '^', '%5E');
    //  $chunk: str-replace($chunk, '`', '%60');
    //  $chunk: str-replace($chunk, ';', '%3B');
    //  $chunk: str-replace($chunk, '?', '%3F');
    //  $chunk: str-replace($chunk, ':', '%3A');
    //  $chunk: str-replace($chunk, '@', '%40');
    //  $chunk: str-replace($chunk, '=', '%3D');

    $encoded: #{$encoded}#{$chunk}
    $index: $index + $slice

  @return url("data:image/svg+xml,#{$encoded}")

//  Background svg mixin
=background-svg($svg)
  background-image: svg-url($svg)

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: "")
  $index: str-index($string, $search)

  @return if($index, str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace), $string)

// .someselector 
//     +background-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.52 83.25" width="77" height="150"><defs><style>.cls-1{fill:#{$cta};}</style></defs><polygon class="cls-1" points="30.95 29.05 4.5 0 0 4.1 34.34 41.81 0.34 79.16 4.84 83.25 42.52 41.88 30.95 29.05"/></svg>');
