@function map-get-strict($map, $key)
  @if map-has-key($map, $key)
    @return map-get($map, $key)
  @else
    @error "ERROR: Specified index does not exist in the mapping"
  
@mixin colorvar($property, $colorName)
  #{$property}: map-get($map_colors, $colorName)
  #{$property}: var(--G-#{$colorName})

// Placeholder-color
@mixin placeholder-color($color) 
  &::-webkit-input-placeholder 
    color: $color

  &::-moz-placeholder 
    color: $color

  &:-ms-input-placeholder 
    color: $color

// Text-overflow
@mixin text-overflow() 
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// Custom scrollbar
@mixin scrollbar($width: 5, $height: 5, $radius: 10, $track:#000,$thumb:#000,$thumb_hover:#000)
  &::-webkit-scrollbar 
    width: rem($width)
    height: rem($height)
  
  &::-webkit-scrollbar-track 
    background: $track
  
  &::-webkit-scrollbar-thumb 
    background: $thumb
    border-radius: rem($radius)
  
  &::-webkit-scrollbar-thumb:hover 
    background: $thumb_hover

// +scrollbar(5,5,10,$primary,$primary_light,$primary)