-
  similar_products = [
    {
      title: 'Услуги дизайнера', 
      img: 'product-5',   
      price: '600'
    },
    {
      title: 'Услуга подарочной упаковки', 
      img: 'product-6',   
      price: '600'
    },
    {
      title: 'Услуга подарочной упаковки', 
      img: 'product-4',   
      price: '600'
    }
  ]

section.card-similar
  header.card-similar__header
    h2.card-similar__title 
      | Вам также может пригодиться
  .card-similar__main
    each val, i in similar_products
      .card-similar__item
        //- product
        +product(val)