.card-similar 
  &__item
    width: rem(142)
    margin-right: rem(18)

    @media screen and (min-width: rem($desktop_sm))
      width: rem(186)
  
  &__header
    margin-bottom: rem(16)

    @media screen and (min-width: rem($desktop_sm))
      margin-bottom: rem(28)
  
  &__title
    font-size: rem(17)
    font-weight: 600
    margin: 0

    @media screen and (min-width: rem($desktop_sm))
      font-size: rem(21)
  
  &__main
    display: flex
    overflow-x: auto
    width: 100vw
    margin-left: rem(-16)
    margin-right: rem(-16)
    padding: rem(16)
    +colorvar('background', 'color-bg')
    -webkit-overflow-scrolling: touch
    
    &::-webkit-scrollbar
      display: none

    @media screen and (min-width: rem($desktop_sm))
      margin-left: 0
      margin-right: 0
      padding: 0
      background: transparent
  
  .card-product
    height: 100%