.card-body
  min-height: 100%
  overflow-x: hidden
  overflow-y: scroll
  font-size: rem($fz-d)
  font-family: $ff
  font-weight: 400
  line-height: rem($lh-d)
  +colorvar('color', 'color-default')
  background: #FBFBFC

  b, strong
    font-weight: 700

  img
    max-width: 100%
    vertical-align: middle

// l-card-body
// -----------------------------------------------------------------------------
.l-card-body 
  display: grid
  min-height: 100%
  -ms-grid-rows: min-content auto min-content
  -ms-grid-columns: 16px minmax(328px, 1fr) 16px
  grid-template: ". header ." min-content ". main ." ". footer ." min-content/16px minmax(328px, 1fr) 16px

  @media screen and (min-width: rem($desktop_sm))
    -ms-grid-rows: min-content auto min-content
    -ms-grid-columns: minmax(16px, 1fr) minmax(328px, 954px) minmax(16px, 1fr)
    grid-template: ". header ." min-content ". main ." ". footer ." min-content/minmax(16px, 1fr) minmax(328px, 954px) minmax(16px, 1fr)

  @media screen and (min-width: rem($desktop))
    -ms-grid-rows: min-content auto min-content
    -ms-grid-columns: minmax(16px, 1fr) minmax(328px, 1283px) minmax(16px, 1fr)
    grid-template: ". header ." min-content ". main ." ". footer ." min-content/minmax(16px, 1fr) minmax(328px, 1283px) minmax(16px,1fr)

  .card-body__header
    -ms-grid-row: 1
    -ms-grid-column: 2
    grid-area: header

  .card-body__main
    -ms-grid-row: 2
    -ms-grid-column: 2
    grid-area: main

  .card-body__footer
    -ms-grid-row: 3
    -ms-grid-column: 2
    grid-area: footer