.card-body__header
  position: relative
  height: rem(58)
  margin-bottom: rem(20)

  @media screen and (min-width: rem($desktop_sm)) 
    height: rem(185)
    margin-bottom: rem(42)

  &::before
    position: absolute
    top: 0
    left: calc(50% - 50vw)
    z-index: -1
    content: ""
    width: calc(100% + 50vw)
    height: 100%
    +colorvar('background-color', 'color-bg')
    border-bottom: 1px solid
    +colorvar('border-bottom-color', 'color-gray-light')