.card-products-list
  background: #fff
  padding: 0 rem(16)

  @media (min-width: rem($desktop_sm))
    padding: 0
    border: 1px solid
    +colorvar('border-color', 'color-gray-light')
    border-radius: $radius_sm
  
  &__item  
    border-bottom: 1px solid
    +colorvar('border-bottom-color', 'color-gray-light')

    &:last-child
      border-bottom: 0