mixin webp(src='img', name, type='jpg',alt,classname_picture,classname)
	picture(class=classname_picture)
		source(srcset=""+src+"/"+name+".webp", type="image/webp" class=classname)
		source(srcset=""+src+"/"+name+"."+type+"", type="image/"+type+"" class=classname)
		img(src=""+src+"/"+name+"."+type+"", alt=alt class=classname)