// Button
.card-button
  position: relative
  display: inline-flex
  justify-content: center
  align-items: center
  height: rem(45)
  padding: 0 rem(16)
  font-family: $ff
  font-size: rem(15)
  font-weight: 600
  line-height: rem($lh-d)
  +colorvar('border-bottom', 'color-default')
  border: none
  cursor: pointer
  text-decoration: none
  border-radius: $radius
  transition: color var(--G-transition), background var(--G-transition), box-shadow var(--G-transition)
  outline: 0
  
  // colors
  &--blue
    color: #fff
    +colorvar('background', 'color-blue-common')
  
  // States
  &:hover, &:active
    color: #fff
    +colorvar('background', 'color-blue-active')
  
  &:disabled
    pointer-events:none
    cursor: default
  
  // Type
  &--full
    display: flex
    text-align: center