mixin range(val, val_max, count, cl)
  .range(class=cl)
    .range__group
      button.range__btn.range__btn--minus
        | -
      input.range__input(type="number" value=val max=val_max data-maxlength="4")
      button.range__btn.range__btn--plus
        | +
    .range__count 
      | #{count} ₽ /шт.