// Range
.range
  &__group
    display: flex
    width: 100%
    height: rem(35)
    margin-bottom: rem(4)
    border-radius: $radius
  
  &__btn
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    flex: 1 0 rem(34)
    height: 100%
    padding: 0
    font-family: $ff
    font-size: rem(15)
    font-weight: 600
    text-align: center
    border: none
    border: 1px solid
    +colorvar('border-color', 'color-gray-dark')
    background: #F7F7F7
    border-radius: $radius 0 0 $radius
    cursor: pointer

    &:hover
      z-index: 1
      +colorvar('border-color', 'color-blue-active')

    &:active
      +colorvar('color', 'color-blue-active')

    &:last-child
      border-radius: 0 $radius $radius 0
  
  &__input
    position: relative
    width: 100%
    height: 100%
    margin: 0 -1px
    font-family: $ff
    font-size: rem(15)
    font-weight: 600
    text-align: center
    background: #fff
    border: none
    border: 1px solid
    +colorvar('border-color', 'color-gray-dark')
    outline: 0
    -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none

    &:hover, &:focus
      z-index: 1
      +colorvar('border-color', 'color-blue-active')

  &__count
    +colorvar('color', 'color-text-light')
    font-size: rem(13)
    font-weight: 600
    text-align: center