extends layouts/default
include helpers/mixins
include ../blocks/components/icons/icons
include ../blocks/components/price/price
include ../blocks/components/product/product
include ../blocks/components/product-basket/product-basket
include ../blocks/components/range/range

block variables
  - const title = "PrintDirect"

block content
  main.card-body__main
    include ../blocks/modules/card/card

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")