// Select
.card-select
  $btn-width: 42

  position: relative
  width: 100%
  height: rem(35)
  border: 1px solid
  +colorvar('border-color', 'color-gray-dark')
  border-radius: $radius

  &:hover, &:focus
    +colorvar('border-color', 'color-blue-active')

    &::after
      +colorvar('border-left-color', 'color-blue-active')

  &::after
    position: absolute
    right: 0
    top: 0
    display: block
    width: rem($btn-width)
    height: 100%
    content: ''
    background: #F7F7F7
    pointer-events: none
    border-left: 1px solid
    +colorvar('border-left-color', 'color-gray-dark')
    border-radius: 0 $radius $radius 0
    background-repeat: no-repeat
    background-position: 50%
    background-size: rem(10) rem(6)
    +background-svg('<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.76268 0.241667C9.6072 0.0856977 9.40153 0 9.18315 0C9.18172 0 9.18021 0 9.17878 0C8.96129 0.00112403 8.75771 0.0873643 8.60516 0.242829L5.08444 3.77465C5.03792 3.82132 4.96219 3.8214 4.91559 3.77465L1.39374 0.241705C1.07487 -0.0780621 0.556151 -0.078062 0.2348 0.244302C-0.0792492 0.566047 -0.0781287 1.08523 0.23735 1.40171L4.41925 5.59675C4.57191 5.75314 4.77611 5.83989 4.9943 5.84105C4.99576 5.84105 4.99719 5.84105 4.99866 5.84105C5.21704 5.84105 5.42271 5.75531 5.57819 5.59938L9.76523 1.39907C10.0792 1.07733 10.0781 0.558101 9.76268 0.241667Z" fill="#{$color-default}"/></svg>')

  &__select
    width: 100%
    height: 100%
    font-family: $ff
    font-size: rem(15)
    font-weight: 600
    text-align: center
    text-align-last: center
    padding-right: rem($btn-width + 10)
    padding-left: rem(10)
    background: #fff
    outline: none
    appearance: none
    border: none
    border-radius: $radius
    cursor: pointer

    &::-ms-expand
      display: none