.card-checkout
  +colorvar('background', 'color-bg')
  
  @media screen and (min-width: rem($desktop_sm))
    background: transparent
  
  &__inner
    padding: 0 rem(16)
    margin-bottom: rem(4)
    +colorvar('background', 'color-bg')
    border-radius: $radius_sm

    @media screen and (min-width: rem($desktop_sm))
      padding: 0
      border: 1px solid
      +colorvar('border-color', 'color-gray-light')
  
  &__main
    padding: rem(16)
    font-size: rem(15)
    font-weight: 600
    
    .card-price
      font-size: rem(15)

    .card-list
      &__item
        &:last-child
          margin-bottom: 0

  &__footer
    padding: rem(16)
    font-size: rem(18)
    font-weight: 600
    border-top: 1px solid
    +colorvar('border-top-color', 'color-gray-light')

  &__count
    +colorvar('color', 'color-text-light')
  
  &__link
    font-size: rem(14)
    font-weight: 400
    vertical-align: middle
    +colorvar('color', 'color-link')
    text-decoration: none

    &:hover
      +colorvar('color', 'color-link-fade')

    &--help
      line-height: 0
      margin-left: rem(4)
      &:hover
        .card-icon
          +colorvar('color', 'color-link-fade')
      
      .card-icon
        +colorvar('color', 'color-text-light')
 
  &__order
    margin: rem(28) rem(-16) 0 rem(-16)
    
    @media screen and (min-width: rem($desktop_sm))
      margin: rem(20) 0 0 0

  &__button
    height: rem(50)

  &__text
    margin: 0
    padding: 0 rem(16) rem(16) rem(16)
    font-size: rem(13)
    +colorvar('color', 'color-gray')

    @media screen and (min-width: rem($desktop_sm))
      padding: rem(16)
      font-size: rem(14)
      +colorvar('color', 'color-link-gray-light')