.card-checkout
  .card-checkout__inner
    .card-checkout__main
      .card-list
        .card-list__item
          .card-list__col
            | Товары 
            span.card-checkout__count
            | (3)
          .card-list__col
            +price('12 800')
        .card-list__item
          .card-list__col
            | Скидка
          .card-list__col
            +price('-300', 'discount')
        .card-list__item
          .card-list__col
            a.card-checkout__link(href="#") 
              | У меня есть код для скидки
            a.card-checkout__link.card-checkout__link--help(href="#" title="help") 
              +icon('help','','16')
    .card-checkout__footer
      .card-list
        .card-list__item
          | Итого 
          .card-list__price
            +price('8 370')
      .card-checkout__order
        a.card-button.card-button--blue.card-button--full.card-checkout__button
          | Оформить заказ

  p.card-checkout__text.
    Доступные способы и время доставки можно выбрать при оформлении заказа.