.card-page
  margin-bottom: rem(40)

  @media (min-width: rem($desktop_sm))
    margin-bottom: rem(80)

  &__header
    grid-area: header
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: rem(18)

  &__title
    margin: 0
    font-size: rem(20)
    font-weight: 600
    line-height: 1
    letter-spacing: -0.03em

    @media screen and (min-width: rem($desktop_sm)) 
      font-size: rem(25)
  
  &__id
    font-size: rem(13)
    font-weight: 400
    color: var(--G-color-link-gray-light)
  
  &__main
    margin: 0 rem(-16) rem(40) rem(-16)

    @media (min-width: rem($desktop_sm))
      margin-left: 0
      margin-right: 0

// l-card-page
// -----------------------------------------------------------------------------
.l-card-page
  display: grid
  grid-gap: 16px 0
  -ms-grid-columns: 1fr 1fr
  -ms-grid-rows: 1fr 16px 1fr
  grid-template-columns: 1fr
  grid-template-areas: "content" "side"

  @media (min-width: rem($desktop_sm))
    grid-gap: 0 22px
    -ms-grid-columns: 1fr 22px  minmax(0, 280px)
    grid-template-columns: 1fr minmax(0px, 280px)
    grid-template-areas: "content side"

  @media (min-width: rem($desktop))
    -ms-grid-columns: 1fr 22px  minmax(0, 326px)
    grid-template-columns: 1fr minmax(0px, 326px)

  .card-page__content
    -ms-grid-row: 1
    -ms-grid-column: 1
    -ms-grid-column-span: 2
    grid-area: content

  .card-page__side
    -ms-grid-row: 3
    -ms-grid-column: 1
    -ms-grid-column-span: 2
    grid-area: side

  @media (min-width: rem($desktop_sm))
    .card-page__content
      -ms-grid-row: 1
      -ms-grid-column: 1
      -ms-grid-column-span: 1

    .card-page__side
      -ms-grid-row: 1
      -ms-grid-column: 3
      -ms-grid-column-span: 1