-
  products_card = [
    {
      title: 'Футболка Теория относительности и коты, серая', 
      img: 'product-1',   
      count: '582',
      count_max: '9999',
      count_price: '1675',
      price: '10 350',
      text_favorite: 'В избранное'
    },
    {
      title: 'Плакат Воздушный шар', 
      img: 'product-2',   
      count: '583',
      count_max: '9999', 
      count_price: '1675',
      price: '25 650',
      text_favorite: 'В избранное'
    },
    {
      title: 'Блокнот TOP SECRET, A5', 
      img: 'product-3',   
      count: '584', 
      count_max: '9999',
      count_price: '1675',
      price: '10 350',
      price_discount: {
        price: '1 550',
        discount: '-20%'
      },
      text_favorite: 'В избранном'
    },
    {
      title: 'Услуга подарочной упаковки', 
      img: 'product-4',   
      count: '585', 
      count_max: '9999',
      count_price: '1675',
      price: '350',
      text_favorite: 'В избранное'
    }
  ]

section.card-page
  header.card-page__header
    h1.card-page__title Моя корзина
    .card-page__id ID корзины: 357253
  
  .card-page__main.l-card-page
    .card-page__content
      //- Products
      .card-products-list      
        each val, i in products_card
          .card-products-list__item
            //- product-basket
            +product-basket(val)

    aside.card-page__side
      //- Checkout
      include ../card-checkout/card-checkout

  //- Similar
  include ../card-similar/card-similar