.card-product-basket
  padding: rem(24) 0
  
  @media (min-width: rem($desktop_sm))
    padding: rem(16) rem(24) rem(16) rem(16)

  &__picture
    width: rem(152)
    height: rem(152)

  &__image
    max-width: 100%
    min-width: 100%
    height: auto

  &__title
    font-size: rem(14)
    font-weight: 400
    
    @media (min-width: rem($desktop_sm))
      font-size: rem(15)
      font-weight: 600

  &__size
    height: 100%
  
  &__favorite
    display: flex
    align-items: center
    
    &::after
      display: inline-block
      content: ""
      width: 1px
      height: 16px
      margin: 0 rem(8)
      +colorvar('background', 'color-gray-dark')
      
      @media (min-width: rem($desktop_sm))
        display: none
  
  &__price
    display: flex
    align-items: center

    @media (min-width: rem($desktop_sm))
      display: block
      text-align: center
    
    .card-price-discount
      margin-top: rem(4)
      margin-left: rem(16)
      &__discount
        margin-left: rem(8)

      @media (min-width: rem($desktop_sm))
        margin-left: 0
        &__discount
         margin-left: 0

  &__link
    display: inline-block
    +colorvar('color', 'color-link')

    @media screen and (min-width: rem($desktop_sm))
      +colorvar('color', 'color-text-light')

    &--is-active
      +colorvar('color', 'color-magenta-light')
    
    &--favorite
      &:hover
        +colorvar('color', 'color-magenta-light')
      
      &:focus, &:active
        +colorvar('color', 'color-magenta-light')
    
    &--delete
      &:hover
        +colorvar('color', 'color-link-fade')
    
    .card-icon
      display: none
      
      @media screen and (min-width: rem($desktop_sm))
        display: inline-block

  &__link-text
    display: inline-block
    font-size: rem(14)
    white-space: nowrap
    
    @media screen and (min-width: rem($desktop_sm)) 
      display: none
    
  &__chapter
    display: none
    margin-bottom: rem(4)
    font-size: rem(14)
    font-weight: 600
    text-transform: uppercase
    +colorvar('color', 'color-text-dark-light')

    @media screen and (min-width: rem($desktop_sm))
      display: block
  
  &__select
    width: rem(100)

    @media screen and (min-width: rem($desktop_sm))
      width: rem(89)

  &__range
    width: rem(114)
    margin-bottom: rem(4)

// Layer
// -----------------------------------------------------------------------------
.l-card-product-basket
  display: grid
  grid-gap: 0 rem(16)
  -ms-grid-columns: minmax(0, 130px) 16px 1fr
  grid-template-columns: minmax(0px, 130px) 1fr
  grid-template-areas: "side main"

  @media (min-width: rem($desktop_sm))
    align-items: center
    align-self: center
    grid-gap: 0 rem(32)
    -ms-grid-columns: minmax(0, 152px) 32px 1fr
    grid-template-columns: minmax(0px, 152px) 1fr

  &__side
    -ms-grid-row: 1
    -ms-grid-column: 1
    grid-area: side

  &__main
    -ms-grid-row: 1
    -ms-grid-column: 3
    grid-area: main

// .l-card-product-basket__main
// -----------------------------------------------------------------------------
.l-card-product-basket__main
  display: grid
  grid-gap: 0
  align-items: center
  align-self: center
  grid-template-rows: min-content 16px min-content 16px min-content 12px min-content 12px min-content
  grid-template-columns: min-content minmax(0px, 1fr)
  grid-template-areas: "title title" ". ." "size size" ". ." "count count" ". ." "price price" ". ." "favorite delete"

  @media (max-width: rem($desktop_sm))
    -ms-grid-rows: min-content 16px min-content 16px min-content 12px min-content 12px min-content
    -ms-grid-columns: min-content minmax(0px, 1fr)

  @media (min-width: rem($desktop_sm))
    grid-gap: 0 16px
    grid-template-rows: min-content 16px min-content
    grid-template-columns: 1fr 1fr min-content min-content 1fr min-content
    grid-template-areas: "title title title title title title" ". . . . . ." "size count . favorite price delete"

  @media (min-width: rem($desktop))
    grid-template-columns: 1fr 1fr min-content 1fr min-content
    grid-template-areas: "title title title title title" ". . . . ." "size count favorite price delete"


  @media (min-width: rem($desktop_sm))
    -ms-grid-rows: min-content 16px min-content
    -ms-grid-columns: 1fr 16px 1fr 48px min-content 16px 1fr 16px min-content 16px

  .card-product-basket__title
    -ms-grid-row: 1
    -ms-grid-column: 1
    -ms-grid-column-span: 8
    grid-area: title
  
  .card-product-basket__size
    -ms-grid-row: 3
    -ms-grid-column: 1
    -ms-grid-column-span: 8
    grid-area: size
  
  .card-product-basket__count
    -ms-grid-row: 5
    -ms-grid-column: 1
    -ms-grid-column-span: 8
    grid-area: count
  
  .card-product-basket__favorite
    -ms-grid-row: 9
    -ms-grid-column: 1
    -ms-grid-column-span: 1
    grid-area: favorite

  .card-product-basket__price
    -ms-grid-row: 7
    -ms-grid-column: 1
    -ms-grid-column-span: 8
    grid-area: price

  .card-product-basket__delete
    -ms-grid-row: 9
    -ms-grid-column: 2
    -ms-grid-column-span: 4
    grid-area: delete
  
  @media (min-width: rem($desktop_sm))
    .card-product-basket__title
      -ms-grid-row: 1
      -ms-grid-column: 1
      -ms-grid-column-span: 8
      grid-area: title
    
    .card-product-basket__size
      -ms-grid-row: 3
      -ms-grid-column: 1
      -ms-grid-column-span: 1
      grid-area: size
    
    .card-product-basket__count
      -ms-grid-row: 3
      -ms-grid-column: 3
      -ms-grid-column-span: 1
      grid-area: count
    
    .card-product-basket__favorite
      -ms-grid-row: 3
      -ms-grid-column: 5
      -ms-grid-column-span: 1
      grid-area: favorite

    .card-product-basket__price
      -ms-grid-row: 3
      -ms-grid-column: 7
      -ms-grid-column-span: 1
      grid-area: price
      display: -ms-flex
      flex-direction: column
      align-self: center

    .card-product-basket__delete
      -ms-grid-row: 3
      -ms-grid-column: 9
      -ms-grid-column-span: 1
      grid-area: delete
      display: -ms-flex
      flex-direction: column
      align-self: center