mixin product-basket(val)
  .card-product-basket.card-product-basket.l-card-product-basket
    .card-product-basket__side
      a.card-product-basket__link-image(href="#") 
        +webp('img/products', val.img, 'jpg', val.img, 'card-product-basket__picture', 'card-product-basket__image')

    .card-product-basket__main.l-card-product-basket__main
      .card-product-basket__title
        | #{val.title}
      
      .card-product-basket__size
        label.card-product-basket__chapter
          | Размер:
        .card-select.card-product-basket__select
          select.card-select__select(name="select-size")
            option(value="s") S
            option(value="l") L
            option(value="xl") XL

      .card-product-basket__count
        label.card-product-basket__chapter
          | Кол-во:
        +range(val.count, val.count_max, val.count_price, 'card-product-basket__range')

      .card-product-basket__favorite
        a.card-product-basket__link.card-product-basket__link--favorite(href="#" title="В избранное" class={'card-product-basket__link--is-active': val.text_favorite === 'В избранном'}) 
          +icon('favorites', '', '24')
          span.card-product-basket__link-text
            | #{val.text_favorite}

      .card-product-basket__price
        +price(val.price) 
        if val.price_discount
          +price-discount(val.price_discount.price, val.price_discount.discount)

      .card-product-basket__delete
        a.card-product-basket__link.card-product-basket__link--delete(href="#" title="Удалить") 
          +icon('close', '', '18')
          span.card-product-basket__link-text 
            | Удалить