mixin product(val)
  .card-product.l-card-product
    +webp('img/products', val.img, 'jpg', val.img, 'card-product__picture', 'card-product__image')
    p.card-product__title
      | #{val.title}
    .card-product__price
      +price(val.price)
    .card-product__order
      a.card-button.card-button--blue.card-button--full.card-product__button(href="#addcard")
        | В корзину
    a.card-product__link-box(href="#link")