.l-card-product
  display: flex
  align-items: stretch
  align-self: stretch
  // justify-content: flex-end
  flex-direction: column

  @media screen and (min-width: rem($desktop_sm))
    align-items: center
    align-self: center

.card-product
  position: relative
  +colorvar('background', 'color-bg')
  text-align: left

  @media screen and (min-width: rem($desktop_sm))
    border: 1px solid
    +colorvar('border-color', 'color-gray-light')
    border-radius: $radius_sm
    padding: rem(16)
    text-align: center
  
  &__picture
    width: rem(142)
    height: rem(142)
    margin-bottom: rem(10)

    @media screen and (min-width: rem($desktop_sm))
      width: rem(152)
      height: rem(152)

  &__image
    max-width: 100%
    min-width: 100%
    height: auto
  
  &__title
    -ms-flex: 1 1 0
    flex: 1 1 0
    width: 100%
    // height: 1px
    min-height: rem(40)
    margin: 0 0 rem(10) 0
    font-size: rem(13)
    font-weight: 600

    @media screen and (min-width: rem($desktop_sm))
      font-size: rem(14)
  
  &__price
    margin-bottom: rem(12)

  &__order
    width: 100%
  
  &__button
    position: relative
    z-index: 2

  &__link-box
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1