mixin price(value, discount)
  .card-price(class=(discount) ? 'card-price--discount' : '')
    span.card-price__value #{value} 
    span.card-price__currency ₽

mixin price-discount(value, discount)
  .card-price-discount
    span.card-price-discount__inner
      span.card-price-discount__value 
        | #{value}
      span.card-price-discount__currency 
        | ₽
    span.card-price-discount__discount 
      | #{discount}