// Price
.card-price
  font-size: rem(18)
  +colorvar('color', 'color-default')
  
  &--discount
    +colorvar('color', 'color-magenta')
  
  &__value
    font-weight: 700
  
  &__currency
    font-weight: 400

// Price discount
.card-price-discount
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  font-size: rem(14)

  @media screen and (min-width: rem($desktop_sm))
    font-size: rem(16)
  
  &__inner
    display: block
    +colorvar('color', 'color-magenta-light')
    text-decoration: line-through

    @media screen and (min-width: rem($desktop))
      margin-right: rem(8)
  
  &__value 
    font-weight: 600
    +colorvar('color', 'color-text-light')
  
  &__currency
    font-weight: 400
    +colorvar('color', 'color-text-light')
  
  &__discount
    display: block
    font-size: rem(13)
    font-weight: 600
    +colorvar('color', 'color-magenta')