.card-icon
  display: inline-block
  width: 1em
  height: 1em
  fill: currentColor
  
  // color
  // @each $color, $value in $states
  //   &--#{$color}
  //     color: #{$value}

//size
$max: 64
$offset: 2

@mixin icon-loop($className)
  $i: 16
  
  @while $i <= $max
    #{$className + $i}
      font-size: rem($i)
    $i: $i + $offset

+icon-loop('.card-icon--')