mixin icon(name, color, size, margin, type)
  - mod = 'card-icon--'
  - id = name && mod+name
  - theme = color && mod+color
  - width = size && mod+size
  - line = type && mod+type
  - space = margin && margin
  svg.card-icon(class=[id,theme,width,space,line])
    use(xlink:href='img/sprites/sprite.svg#' + name)