.card-body__footer
  position: relative
  height: rem(240)

  @media screen and (min-width: rem($desktop_sm))
    height: rem(520)

  &::before
    left: calc(50% - 50vw)
    position: absolute
    top: 0
    z-index: -1
    content: ""
    width: calc(100% + 50vw)
    height: 100%
    background-color: #F7F7F7
    border-top: 1px solid
    +colorvar('border-top-color', 'color-gray-light')