block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet" href="styles/main.css")
	
	body.card-body.l-card-body
		include ../../blocks/modules/header/header
		
		block content
		
		include ../../blocks/modules/footer/footer
		
		block scripts