@font-face
    font-family: 'Open Sans'
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('#{$font-url}/OpenSans-Bold.woff2') format('woff2'), url('#{$font-url}/OpenSans-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Open Sans'
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('#{$font-url}/OpenSans-SemiBold.woff2') format('woff2'), url('#{$font-url}/OpenSans-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Open Sans'
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('#{$font-url}/OpenSans-Regular.woff2') format('woff2'), url('#{$font-url}/OpenSans-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap