\:root
  --G-base-f-s: 1rem
  --G-color-bg: #{$color-bg}
  --G-color-blue-active: #{$color-blue-active}
  --G-color-blue-common: #{$color-blue-common}
  --G-color-default: #{$color-default}
  --G-color-dark: #{$color-dark}
  --G-color-error: #{$color-error}
  --G-color-error-dark: #{$color-error-dark}
  --G-color-error-light: #{$color-error-light}
  --G-color-gray: #{$color-gray}
  --G-color-gray-dark: #{$color-gray-dark}
  --G-color-gray-light: #{$color-gray-light}
  --G-color-green: #{$color-green}
  --G-color-link: #{$color-link:}
  --G-color-link-fade: #{$color-link-fade}
  --G-color-link-gray-light: #{$color-link-gray-light}
  --G-color-magenta: #{$color-magenta}
  --G-color-magenta-light: #{$color-magenta-light}
  --G-color-placeholder: #{$color-placeholder}
  --G-color-text-dark: #{$color-text-dark}
  --G-color-text-dark-light: #{$color-text-dark-light}
  --G-color-text-light: #{$color-text-light}
  --G-color-yellow: #{$color-yellow}
  --G-transition: #{$transition}

*
  box-sizing: border-box

html
  font-size: $fz-d+px
  line-height: $lh-d+px

html, body
  width: 100%
  height: 100%